Source: ros-rolling-perception
Section: misc
Priority: optional
Maintainer: Louise Poubel <louise@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-perception
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-image-common, ros-rolling-image-pipeline, ros-rolling-image-transport-plugins, ros-rolling-laser-filters, ros-rolling-laser-geometry, ros-rolling-perception-pcl, ros-rolling-ros-base, ros-rolling-vision-opencv, ros-rolling-ros-workspace
Description: A package which aggregates common perception packages.
